{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My orders{% endblock %}</h1>
{% endblock %}
{% block content %}
    <h1> Orders Placed </h1>
    <div>
        <table class="tab">
            <thead>
            <tr>
                <th>OrderId</th>
                <th>Seller Name</th>
                <th>Price</th>
                <th>time</th>
                <th>status</th>
            </tr>
            </thead>
            {% for item in g.orderList %}
             <tbody>
                <tr>
                    <td>{{item.orderid}}</td>
                    <td>{{item.sellerName}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.status}}</td>
                    <td> <a href="{{url_for('order_buyer.details',id=item.orderid)}}">View Details<!-- </a> --> </td>
                </tr>
            </tbody>
          {% endfor %}
        </table>
    </div>

{% endblock %}