{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My orders{% endblock %}</h1>
{% endblock %}
{% block content %}
    <h1> Order Notification</h1>
    <div>
        <table class="tab">
            <thead>
            <tr>
                <th>OrderId</th>
                <th>Buyer Name</th>
                <th>Price</th>
                <th>time</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            {% for item in g.orderList %}
                <tr>
                    <td>{{item.orderid}}</td>
                    <td>{{item.buyerName}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.time}}</td>
                    <td>{{item.status}}</td>
                    <td> <a href="{{url_for('order_seller.orderDetails',id=item.orderid)}}">View Details</a> </td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}