{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Meal Details{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="meals">
    <h2>
        Meal Details
        <br>
        <font style="font-size: 30px">Start Time: {{g.st}}</font><br>
        <font style="font-size: 30px">End Time: {{g.en}}</font><br>
        <font style="font-size: 30px">Price: {{g.pr}}</font><br>
        <font style="font-size: 30px">Seats Available: {{g.seat}}</font><br>
        <font style="font-size: 30px">Veg/Non-Veg/Mixed: {{g.tp}}</font><br>
    </h2>
    <h2>
        Menu
        <br>
        {% for item in g.menuL %}
           <font style="font-size: 30px">{{item["itemName"]}} : {{item["type"]}}</font><br>
        {% endfor %}
    </h2>
</div>
{% endblock %}