{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Dishes{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1> My Dishes </h1>
<table class="tab">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in g.myDishes %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
